* {
	margin: 0;
	padding: 0;
	--aside-width: max(25vw);
}

@font-face {
	font-family: samarkan;
	src: url(/fonts/SamarkanNormal-Gg5D.ttf);
}

body {
	display: flex;
	justify-content: center;
	background-color: black;
	font-family: sans-serif;
}

aside {
	font-family: samarkan;
	color: white;
	font-size: 2rem;
	background-image: url(https://jbschklar.github.io/signup-form/images/joshuva-daniel-U4OS-GimdXA-unsplash.jpg);
	background-size: 1500px;
	background-repeat: no-repeat;
	height: 100vh;
	width: var(--aside-width);
}

aside > footer {
	font-family: sans-serif;
	font-size: 0.7rem;
	position: absolute;
	bottom: 0px;
	margin-left: 60px;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 20vh;
	background-color: black;
	opacity: 0.5;
	height: 25vh;
	width: var(--aside-width);
}

.form-container {
	background-color: whitesmoke;
	height: 100vh;
	width: max(500px, 50vw);
}

.intro {
	padding: 100px 100px 0;
	font-size: 1.5rem;
	font-weight: 700;
	color: rgb(35, 34, 34);
	/* height: min(50px); */
}

.input-container {
	padding: 25px;
	margin-top: 60px;
	margin-bottom: 24px;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.177);
	height: max(300px, 35vh);
}

h1 {
	margin-bottom: 24px;
}

label {
	font-size: 0.6rem;
	text-transform: uppercase;
}

.name-input,
.contact-info,
.password {
	display: flex;
	gap: 24px;
	margin-bottom: 25px;
}

.first-name,
.last-name,
.email,
.number,
.pass-init,
.pass-confirm {
	display: flex;
	flex-direction: column;
}

.button-section {
	margin-left: 30px;
}

button {
	padding: 10px 28px;
	border-radius: 0.5rem;
	background-color: rgb(237, 126, 52);
	color: white;
	border-style: none;
	margin-bottom: 26px;
	cursor: pointer;
}

.button-section > p {
	font-size: 0.75rem;
}

.error {
	border-color: red;
}

/* :valid {
	border-color: green;
} */

.error-msg,
span,
ul {
	color: red;
	font-size: 0.75rem;
}

li {
	list-style: none;
}

input {
	width: min(150px);
	border: 1px solid #e5e7eb;
	border-radius: 5px;
}

:focus {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.177);
}
