* {
	margin: 0;
	padding: 0;
	--aside-width: 25vw;
}
@font-face {
	font-family: samarkan;
	src: url(/fonts/SamarkanNormal-Gg5D.ttf);
}

body {
	background-color: black;
	padding: 0 150px;
}

aside {
	font-family: samarkan;
	color: white;
	font-size: 2rem;
	background-image: url(/images/joshuva-daniel-U4OS-GimdXA-unsplash.jpg);
	background-size: 1500px;
	background-repeat: no-repeat;
	height: 100vh;
	width: var(--aside-width);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 25vh;
	background-color: black;
	opacity: 0.5;
	height: 25vh;
	width: var(--aside-width);
}
